<div class="project">
	<div class="projectInfo">
		<h3>Date list</h3>
	</div>
	<div class="button">
		<datepicker date-format="yyyy-MM-dd">
		  <input ng-model="date" type="text" placeholder="Select Date"/>
		  <button><a href="" ng-click="addDate()">New date</a></button>
		</datepicker>
		<br>
		<br>
	</div>
	<div class="pagination">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	</div>
	<div class="project-table">
		<table ng-table="tableParams" class="table">
			<tr>
				<th class="quotation-th1">No.</th>
				<th class="client-th2">Date</th>
				<th class="client-th3">Action</th>
			</tr>
			<tr ng-repeat="(key, date) in menusDate">
				<td class="td-num"><p>{{$index +1}}</p></td>
				<td class="td-num"><p>{{key}}</p></td>
				<td class="td-num"><a href="#/menus/{{key}}/add">View</a>&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp<a href="" ng-click="deleteDate(key)">Delete</a></td>
			</tr>
		</table>
	</div>
	<div class="pagination">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	</div>
</div>
