<div class="container-login">

	<div class="login-form clearfix">
		<div class="user-name">
			<h2>Login</h2><br>
			<label>Username</label><br>
			<input type="text" ng-model="user.email" class="input-text"></input>
			<label class="error">{{errorName}}</label>
		</div>
		<div class = "password">
			<label>Password</label><br>
			<input type="password" ng-model="user.password" class="input-text"></input>
			<label class="error">{{errorPass}}</label>
		</div>
		<div>
			<button ng-click="login()">Login</button>
		</div>
		<div class="forgot-pass">
			<a href="#/register">Register</a>
		</div>


	</div>
</div>
