<div class="project">
    <div class="projectInfo">
        <h3>Add menu</h3>
    </div>
    <div class="quotation-input">
        <div class="quotation-input-left">
            <label>Menu name:</label>
            <input type="text" ng-model="menu.name" class="input1">
            <br>
            <label>Main dish:</label>
            <input type="text" ng-model="menu.mainDish" class="input2">
        </div>
        <div class="quotation-input-right">
            <label>Side dishes:</label>
            <input type="text" ng-model="menu.sideDishes" class="input1">
            <br>
            <label>Price:</label>
            <input type="text" ng-model="menu.price" class="input3">
        </div>
    </div>
    <div class="save-button-quotation">
        <button ng-click="addMenu()" class="save">Add</button>
    </div>

    <div class="project-table quotation-table">
        <table ng-table="tableParams" class="table">
            <tr>
                <th class="quotation-th1">No.</th>
                <th class="quotation-th2">Name</th>
                <th class="quotation-th2">Main dish</th>
                <th class="quotation-th3">Side dishes</th>
                <th class="quotation-th4">Price</th>
                <th class="quotation-th7">Action</th>
            </tr>
            <tbody>
                <tr ng-repeat="(key, menu) in menus">
                    <td class="td-num">{{$index + 1}}</td>
                    <td class="td-str">
                    	<p ng-hide="isEdit">{{menu.name}}</p>
                    	<p ng-show="isEdit"><input type="text" ng-model="menu.name"></p>
                    </td>
                    <td class="td-str">
                    	<p ng-hide="isEdit">{{menu.mainDish}}</p>
                    	<p ng-show="isEdit"><input type="text" ng-model="menu.mainDish"></p>
                    </td>
                    <td class="td-str">
                    	<p ng-hide="isEdit">{{menu.sideDishes}}</p>
                    	<p ng-show="isEdit"><input type="text" ng-model="menu.sideDishes" class="sidedishes"></p>
                    </td>
                    <td class="td-str">
                    	<p ng-hide="isEdit">{{menu.price}}</p>
                    	<p ng-show="isEdit"><input type="text" ng-model="menu.price" class="price"></p>
                    </td>

                    <td class="td-num">
                        <a ng-hide="isEdit" href="" ng-click="isEdit=true">Edit</a>
                        <a ng-show="isEdit" href="" ng-click="updateMenu(key); isEdit=false">Update</a>
                        &nbsp|&nbsp
                        <a href="" ng-click="deleteMenu(key)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
